.cuerpo{
    background-color: black;
    }
.prologo{
    color: chartreuse;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sorprase{
    color: #f0ecde;
}
.div-primary{
    background-color: black;
}
.alert { 
    background-image: url('https://media.giphy.com/media/4knozU8q9AXvpod9qy/giphy.gif');
    background-color: black;
    background-repeat:no-repeat;
    background-size: 40rem;
   }
.progress-bar {
    width: 100%;
    height: 30px;
    background-image: linear-gradient(255deg, #694742 0, #67413e 10%, #64393b 20%, #613137 30%, #5e2934 40%, #591f32 50%, #541530 60%, #4e0a30 70%, #480130 80%, #410031 90%, #3a0033 100%);
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}
.hack {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;

}
.chat{
    width: 100%;
    height: 500px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;

}
.progress-bar .progress{
    height: 100%;
    background-image: linear-gradient(240deg, #6c3f60 0, #61355d 16.67%, #542a5b 33.33%, #441f59 50%, #301657 66.67%, #121056 83.33%, #000d56 100%);
    border-radius: 5px;
    transition: width 0.5s;
}

.progress-bar .time {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.progress-bar .seconds {
    color: blue;
    font-family: Arial;
    position: absolute;
    top: 35px;
    left:  50%;
    transform: translateX(-50%);
}
h1{
    color: cornflowerblue;
    font-family: roboto;
}
#contador{
    color: darkcyan;
}